<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.deptcase.casemgt.dao.DeptCaseDaoImpl" >
<sql id="t_case">dept_case</sql>

  <resultMap id="BaseResultMap" type="com.deptcase.casemgt.entity.DeptCasePo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="dept_date" property="deptDate" jdbcType="BIGINT" />
    <result column="dept_end_date" property="deptEndDate" jdbcType="BIGINT" />
    <result column="dept_amount" property="deptAmount" jdbcType="DOUBLE" />
    <result column="dept_balance" property="deptBalance" jdbcType="DOUBLE" />
    <result column="dept_profit" property="deptProfit" jdbcType="DOUBLE" />
    <result column="dc_id" property="dcId" jdbcType="VARCHAR" />
    <result column="case_org" property="caseOrg" jdbcType="VARCHAR" />
    <result column="customer_contact" property="customerContact" jdbcType="VARCHAR" />
    <result column="customer_location" property="customerLocation" jdbcType="VARCHAR" />
    <result column="case_warrantor" property="caseWarrantor" jdbcType="VARCHAR" />
    <result column="case_customer" property="caseCustomer" jdbcType="VARCHAR" />
    <result column="case_admin" property="caseAdmin" jdbcType="INTEGER" />
    <result column="dept_for" property="deptFor" jdbcType="VARCHAR" />
    <result column="warrantor_way" property="warrantorWay" jdbcType="VARCHAR" />
    <result column="loan_number" property="loanNumber" jdbcType="VARCHAR" />
    <result column="last_access" property="lastAccess" jdbcType="BIGINT" />
    <result column="access_log" property="accessLog" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Add_Column_List" >
    dept_date, dept_end_date, dept_amount, dept_balance, dept_profit, dc_id, case_org, 
    customer_contact, customer_location, case_warrantor, case_customer, case_admin, 
    dept_for, warrantor_way,last_access, access_log, create_time
  </sql>
   <!-- 批量添加 -->
   <insert id="batchAddCase" useGeneratedKeys="true" parameterType="java.util.List">
  	insert into <include refid="t_case"></include>
  	(<include refid="Add_Column_List"></include>)
  	values
  	<foreach collection="list" item="caseD" index="index" separator=",">
  		(#{caseD.deptDate},#{caseD.deptEndDate},#{caseD.deptAmount},#{caseD.deptBalance},#{caseD.deptProfit},#{caseD.dcId},#{caseD.caseOrg},
  		#{caseD.customerContact},#{caseD.customerLocation},#{caseD.caseWarrantor},#{caseD.caseCustomer},#{caseD.caseAdmin},
  		#{caseD.deptFor},#{caseD.warrantorWay},#{caseD.lastAccess},#{caseD.accessLog},#{caseD.createTime})
  	</foreach>
  </insert>
  <sql id="Base_Column_List" >
    id, dept_date, dept_end_date, dept_amount, dept_balance, dept_profit, dc_id, case_org, 
    customer_contact, customer_location, case_warrantor, case_customer, case_admin, 
    dept_for, warrantor_way, last_access,  access_log, create_time
  </sql>
  <!-- 获得待绑定的绑定列表 -->
  <sql id="binding_list">
  	id,dc_id
  </sql>
  <resultMap id="BindingCaseMap" type="com.deptcase.casemgt.entity.CaseBindContactPo" >
     <id column="id" property="caseId" jdbcType="BIGINT" />
    <result column="dc_id" property="contactDcid" jdbcType="VARCHAR" />
  </resultMap>
  <select id="getBindingCase" parameterType="map" resultMap="BindingCaseMap">
  	select <include refid="binding_list"></include> from <include refid="t_case"></include> 
  	 <where>
  		<if test="dcIds != null">
	  		AND dc_id in <foreach item="dcId" index="index" collection="dcIds" open="(" separator="," close=")">#{dcId}</foreach>
  		</if>
  	 </where>
  </select>
  
  <select id="countCase" parameterType="map" resultType="int">
  	select count(*) from <include refid="t_case"></include>
  	<where>
  		<include refid="condition_sql"></include>
  	</where>
  </select>
  <!-- 案件列表 -->
  <select id="listCase" parameterType="map" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List"></include> 
  	from <include refid="t_case"></include>
  	<where>
  		<include refid="condition_sql"></include>
  		AND 1=1
  		order by last_access desc
 		<if test="start != null">
	 	limit #{start}
		 </if>
		 <if test="end != null">
		 	, #{end}
		 </if>
  	</where>
  </select>
  
  <sql id="condition_sql">
  	 <!-- <if test="deptDate != null" >
        AND dept_date = #{deptDate,jdbcType=BIGINT},
      </if>
      <if test="deptEndDate != null" >
        AND dept_end_date = #{deptEndDate,jdbcType=BIGINT},
      </if> 
      <if test="createTime != null" >
        AND create_time = #{createTime,jdbcType=BIGINT},
      </if>
      -->
      <if test="deptAmount != null" >
        AND dept_amount = #{deptAmount,jdbcType=DOUBLE},
      </if>
      <if test="deptBalance != null" >
        AND dept_balance = #{deptBalance,jdbcType=DOUBLE},
      </if>
      <if test="deptProfit != null" >
        AND dept_profit = #{deptProfit,jdbcType=DOUBLE},
      </if>
      <if test="dcId != null" >
        AND dc_id = #{dcId,jdbcType=VARCHAR},
      </if>
      <if test="caseOrg != null" >
        AND case_org = #{caseOrg,jdbcType=VARCHAR},
      </if>
      <if test="customerContact != null" >
        AND customer_contact = #{customerContact,jdbcType=VARCHAR},
      </if>
      <if test="customerLocation != null" >
       AND  customer_location = #{customerLocation,jdbcType=VARCHAR},
      </if>
      <if test="caseWarrantor != null" >
       AND  case_warrantor = #{caseWarrantor,jdbcType=VARCHAR},
      </if>
      <if test="caseCustomer != null" >
        AND case_customer = #{caseCustomer,jdbcType=VARCHAR},
      </if>
      <if test="caseAdmin != null" >
        AND case_admin = #{caseAdmin,jdbcType=INTEGER},
      </if>
      <if test="lastAccess != null" >
        AND last_access = #{lastAccess,jdbcType=BIGINT},
      </if>
      <if test="accessLog != null" >
        AND access_log = #{accessLog,jdbcType=INTEGER},
      </if>
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dept_case
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dept_case
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.deptcase.casemgt.entity.DeptCasePo" >
    insert into dept_case (id, dept_date, dept_end_date, 
      dept_amount, dept_balance, dept_profit, 
      dc_id, case_org, customer_contact, 
      customer_location, case_warrantor, case_customer, 
      case_admin, last_access, access_log, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{deptDate,jdbcType=BIGINT}, #{deptEndDate,jdbcType=BIGINT}, 
      #{deptAmount,jdbcType=DOUBLE}, #{deptBalance,jdbcType=DOUBLE}, #{deptProfit,jdbcType=DOUBLE}, 
      #{dcId,jdbcType=VARCHAR}, #{caseOrg,jdbcType=VARCHAR}, #{customerContact,jdbcType=VARCHAR}, 
      #{customerLocation,jdbcType=VARCHAR}, #{caseWarrantor,jdbcType=VARCHAR}, #{caseCustomer,jdbcType=VARCHAR}, 
      #{caseAdmin,jdbcType=INTEGER}, #{lastAccess,jdbcType=BIGINT}, #{accessLog,jdbcType=INTEGER}, 
      #{createTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.deptcase.casemgt.entity.DeptCasePo" >
    insert into dept_case
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="deptDate != null" >
        dept_date,
      </if>
      <if test="deptEndDate != null" >
        dept_end_date,
      </if>
      <if test="deptAmount != null" >
        dept_amount,
      </if>
      <if test="deptBalance != null" >
        dept_balance,
      </if>
      <if test="deptProfit != null" >
        dept_profit,
      </if>
      <if test="dcId != null" >
        dc_id,
      </if>
      <if test="caseOrg != null" >
        case_org,
      </if>
      <if test="customerContact != null" >
        customer_contact,
      </if>
      <if test="customerLocation != null" >
        customer_location,
      </if>
      <if test="caseWarrantor != null" >
        case_warrantor,
      </if>
      <if test="caseCustomer != null" >
        case_customer,
      </if>
      <if test="caseAdmin != null" >
        case_admin,
      </if>
      <if test="lastAccess != null" >
        last_access,
      </if>
      <if test="accessLog != null" >
        access_log,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="deptDate != null" >
        #{deptDate,jdbcType=BIGINT},
      </if>
      <if test="deptEndDate != null" >
        #{deptEndDate,jdbcType=BIGINT},
      </if>
      <if test="deptAmount != null" >
        #{deptAmount,jdbcType=DOUBLE},
      </if>
      <if test="deptBalance != null" >
        #{deptBalance,jdbcType=DOUBLE},
      </if>
      <if test="deptProfit != null" >
        #{deptProfit,jdbcType=DOUBLE},
      </if>
      <if test="dcId != null" >
        #{dcId,jdbcType=VARCHAR},
      </if>
      <if test="caseOrg != null" >
        #{caseOrg,jdbcType=VARCHAR},
      </if>
      <if test="customerContact != null" >
        #{customerContact,jdbcType=VARCHAR},
      </if>
      <if test="customerLocation != null" >
        #{customerLocation,jdbcType=VARCHAR},
      </if>
      <if test="caseWarrantor != null" >
        #{caseWarrantor,jdbcType=VARCHAR},
      </if>
      <if test="caseCustomer != null" >
        #{caseCustomer,jdbcType=VARCHAR},
      </if>
      <if test="caseAdmin != null" >
        #{caseAdmin,jdbcType=INTEGER},
      </if>
      <if test="lastAccess != null" >
        #{lastAccess,jdbcType=BIGINT},
      </if>
      <if test="accessLog != null" >
        #{accessLog,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.deptcase.casemgt.entity.DeptCasePo" >
    update dept_case
    <set >
      <if test="deptDate != null" >
        dept_date = #{deptDate,jdbcType=BIGINT},
      </if>
      <if test="deptEndDate != null" >
        dept_end_date = #{deptEndDate,jdbcType=BIGINT},
      </if>
      <if test="deptAmount != null" >
        dept_amount = #{deptAmount,jdbcType=DOUBLE},
      </if>
      <if test="deptBalance != null" >
        dept_balance = #{deptBalance,jdbcType=DOUBLE},
      </if>
      <if test="deptProfit != null" >
        dept_profit = #{deptProfit,jdbcType=DOUBLE},
      </if>
      <if test="dcId != null" >
        dc_id = #{dcId,jdbcType=VARCHAR},
      </if>
      <if test="caseOrg != null" >
        case_org = #{caseOrg,jdbcType=VARCHAR},
      </if>
      <if test="customerContact != null" >
        customer_contact = #{customerContact,jdbcType=VARCHAR},
      </if>
      <if test="customerLocation != null" >
        customer_location = #{customerLocation,jdbcType=VARCHAR},
      </if>
      <if test="caseWarrantor != null" >
        case_warrantor = #{caseWarrantor,jdbcType=VARCHAR},
      </if>
      <if test="caseCustomer != null" >
        case_customer = #{caseCustomer,jdbcType=VARCHAR},
      </if>
      <if test="caseAdmin != null" >
        case_admin = #{caseAdmin,jdbcType=INTEGER},
      </if>
      <if test="lastAccess != null" >
        last_access = #{lastAccess,jdbcType=BIGINT},
      </if>
      <if test="accessLog != null" >
        access_log = #{accessLog,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.deptcase.casemgt.entity.DeptCasePo" >
    update dept_case
    set dept_date = #{deptDate,jdbcType=BIGINT},
      dept_end_date = #{deptEndDate,jdbcType=BIGINT},
      dept_amount = #{deptAmount,jdbcType=DOUBLE},
      dept_balance = #{deptBalance,jdbcType=DOUBLE},
      dept_profit = #{deptProfit,jdbcType=DOUBLE},
      dc_id = #{dcId,jdbcType=VARCHAR},
      case_org = #{caseOrg,jdbcType=VARCHAR},
      customer_contact = #{customerContact,jdbcType=VARCHAR},
      customer_location = #{customerLocation,jdbcType=VARCHAR},
      case_warrantor = #{caseWarrantor,jdbcType=VARCHAR},
      case_customer = #{caseCustomer,jdbcType=VARCHAR},
      case_admin = #{caseAdmin,jdbcType=INTEGER},
      last_access = #{lastAccess,jdbcType=BIGINT},
      access_log = #{accessLog,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>